[Unit]
Description=Prepare the system after installation
Before=display-manager.service auto-unlock-pacman.service
After=biginux-key.service

[Service]
Type=oneshot
ExecStart=/usr/bin/big-first-boot

[Install]
WantedBy=multi-user.target
